body{
	position:relative;
}
.schools_dropdown_box{
	display:flex;
	justify-content:space-between;
	margin:2rem;
	font-size:1.2rem;
}
.schools_dropdown_btn{
	border-radius:15px;
	color: #000000;
	font-weight: bold;
	background-color: #c1fffd;
	padding:.3rem 1.1rem;
}
.schools_dropdown{
	position: absolute;
	background-color: #e8e8e8;
	border-radius:15px;
	padding:4rem 1rem;
	border:1px #4e4e4e solid;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:3;
	display:none;
}
.schools_dropdown_items{
	overflow-y: auto;
	height:250px;
}
.schools_dropdown_item{
	margin:1rem;
	position:relative;
	transition: all .3s;
	border-radius:15px;
	border:1px #4e4e4e solid;
	padding:.2rem .3rem;
}
.schools_dropdown_item:before{
	content:'#';
}
.schools_dropdown_item:hover{
	transform:scale(1.1);
	background-color: #00cc33;
}
.schools_dropdown_item:active{
	transform:scale(.9);
	background-color: #00cc33;
}
.school_name_input{
	outline:none;
	border-radius:15px;
	padding:.2rem .5rem;
}
.add_school_name_btn{
	background-color: #c1fffd;
	padding:.2rem .3rem;
	border-radius:15px;
	transition: all .3s;
}
.add_school_name_btn:hover{
	transform:scale(1.1);
}
.add_school_name_btn:active{
	transform:scale(.9);
}
.school_planning_Columns{
	display:flex;
	justify-content:space-evenly;
	width:100%;
	margin:3rem 0;
}
.today_lessons_list{
	display:flex;
	flex-direction: column;
	align-items:center;
	gap:.5rem;
}
.schedule{
	display:flex;
	flex-direction:column;
	border-radius: 15px;
	padding:3rem;
	background-color: #e8e8e8;
	flex-grow:1;
	margin:0 1rem;
}
.schedule_title,.schedule_item{
	margin-bottom:.5rem;
}
.schedule_add_button{
	border-radius:15px;
	transition: all .3s;
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;
}
.schedule_add_button:hover{
	transform:scale(1.1);
}
.schedule_add_button:active{
	transform:scale(.9);
}
.exam_schedule_box_btn{
	background-color: #b21b00;
}
.present_week_schedule_box_btn{
	background-color: #00cc33;
}
.today_schedule_box_btn{
	background-color: #ffe600;
}
.shortcut_btn:hover{
	transform:scale(1.2);
}
.shortcut_btn:active{
	transform:scale(.9);
}
.schedule_item{
	font-size:1.1rem;
	text-align: center;
}
.schedule_item > input{
	transform:scale(1.2);
	margin:0 .2rem;
}
.school_schedule_btn{
	padding:.2rem .5rem;
	border-radius:15px;
	transition: all .3s;
	border: #555555 1px solid;
	margin: 1rem 0;
	text-align: center;
	font-size:1.1rem;
}
.school_schedule_btn:hover{
	transform:scale(1.1);
}
.school_schedule_btn:active{
	transform:scale(.9);
}
.about_today_box{
	margin:2rem;
	font-size:1.2rem;
}
.schedule_adding_box{
	border-radius: 15px;
	border: #555555 1px solid;
	padding:3rem;
	background-color: #e8e8e8;
	margin:0 1rem;
	position: absolute ;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:none;
	z-index:2;
}
.schedule_adding_schools_dropdown{
	display:flex;
	justify-content:space-between;
}
.schedule_adding_schools_dropdown > *{
	margin:.5rem;
}
.week_days_container{
	display:flex;
	white-space:nowrap;
	gap:1rem;
}
.week_days_container>*{
	border-radius: 15px;
	border: #555555 1px solid;
	padding:.5rem;
	transition: all .3s;
}
.week_days_container>*:hover {
	transform: scale(1.1);
	background-color: #00cc33;
}
.popout_box{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
.day_lessons_adding_box{
	border-radius: 15px;
	border: #555555 1px solid;
	padding:3rem;
	background-color: #e8e8e8;
	margin:0 1rem;
	position: absolute ;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:2;
	display:none;
}
.day_lessons_box_title{
	margin-bottom: 1rem;
}
.add_lesson_box{
	display:flex;
	gap:1rem;
	align-items:end;
}
.add_lesson_box>label>input{
	border-radius:15px;
	padding:.2rem .5rem;
	outline:none;
}
.add_lesson_box>label>input:focus{
	background-color: rgba(0, 204, 51, 0.55);
}
.add_lesson_btn{
	background-color: #c1fffd;
	border-radius:15px;
	padding: .3rem .6rem;
	font-weight: bold;
}
.day_lessons_box_description{
	font-weight: bold;
	margin-bottom: 1rem;
}
.week_schedule{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 15px;
	border: #555555 1px solid;
	padding:3rem;
	background-color: #e8e8e8;
	z-index:2;
	display:none;
}
.week_schedule_container{
	display:flex;
	flex-direction: column;
	align-items:center;
	gap:1rem;
}
.schedule_school_name_title{
	font-weight:bold;
	font-size: 1.5rem;
}
.choose_day_box{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.choose_day_box>img{
	height:20px;
	width:20px;
	margin:0 1rem;
	transition: all .3s;
}
.next_day_btn:hover{
	transform:scale(1.1);
}
.next_day_btn:active{
	transform:scale(.9);
}
.previous_day_btn:hover{
	transform:scale(1.1) rotate(180deg);
}
.previous_day_btn:active{
	transform:scale(.9) rotate(180deg);
}
.previous_day_btn{
	transform:rotate(180deg);
}
.day_name_title{
	font-weight:bold;
	font-size:1.2rem;
	transition: all .3s;
}
.day_lessons_box{
	max-height:300px;
	height:200px;
	overflow-y: auto;
}
.day_schedule_item{
	border:1px solid #555555;
	border-radius:15px;
	padding:.5rem;
	transition: all .3s;
	margin:.5rem;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	gap:.5rem;
}
.schedule_item_btn{
	width:20px;
	height:20px;
	transition: all .3s;
}
.schedule_item_btn:hover{
	transform:scale(1.3);
}
.schedule_item_btn:active{
	transform:scale(.9);
}
.day_schedule_item:hover{
	background-color: #86ff9d;
}
